.feedback {
  &__inner {
  }

  &__main {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    background-color: var(--color-primary);
    border-radius: 16px;
  }

  &__form {
    max-width: 530px;
    width: 100%;
  }

  &__img {
    border-radius: 16px;
  }
}

@media (max-width: 1299px) {
  .feedback {
    &__main {
      justify-content: center;
    }
    &__img {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .feedback {
    .form__row {
      flex-wrap: wrap;
    }
  }
}
